html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  min-width: 375px;
}

.container {
  padding: 0 30px;
}

.logo {
  padding-bottom: 45px;
}

.logo__link-img {
  width: 52px;
  height: 30px;
}

.menu__list {
  display: flex;
  text-align: center;
  list-style: none;
}

.menu__list-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-weight: 400;
  font-size: 10px;
  font-family: 'Roboto-Regular', sans-serif;
}

.menu__list-img {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

@media (min-width: 834px) {
  .container {
    padding: 0 100px;
  }
  .logo {
    padding-bottom: 55px;
  }
  .logo__link-img {
    width: 65px;
    height: 38px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1092px;
    margin: 0 auto;
  }
  .logo {
    padding-bottom: 97px;
  }
  .logo__link-img {
    width: 112px;
    height: 66px;
  }
}
