/*
1. Презентация. Язык CSS.
 (Cascading Style Sheets, каскадные таблицы стилей) — набор правил, которые описывают то, как выглядят элементы на странице.
 */


/* 2. Упражнение 1. Стилизация текста. !!!Решение CSS */
body {
    font-family: Montserrat, Helvetica, sans-serif;
}
.h1 {
    font-size: 24px;
}
h1,h2 {
    color: darkgray;
}
li {
    color: blue;
}
p {
    font-style: italic;
}


/* 3. Упражнение 2. Стилизация текста. !!!Решение CSS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h1 {
    color: #3333ee;
}
p {
    font-weight: 600;
    font-family: Montserat, sans-serif;
}


/* 4. Задача. Вёрстка CSS. !!!Решение CSS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h1 {
    font-weight: 900;
    color: darkblue;
    font-size: 26px;
}
p {
    font-style: italic;
    color: darkslategray;
}
h2 {
    color: mediumblue;
    font-weight: 600;
    font-size: 18px;
}

