/* 1. Презентация. Вёрстка страницы. */



/* 2. Упражнение 1. Ховер. */
.goods {
  padding: 40px;
  list-style-type: none;
  display: flex;
}
.goods-item {
  font-family: sans-serif;
  background-color: #ba99e4;
  padding: 50px;
  border-radius: 3px;
  margin-right: 10px;
}
.goods-item:hover {
    position: relative;
    bottom: 5px;
}
.goods-item:last-child {
  margin-right: 0;
}



/* 3. Вёрстка шапки сайта и статьи. */
body {
  font-family: Roboto, Monospace;
}
header {
  display: flex;
  justify-content: space-between;
  max-width: 780px;
  margin: auto;
}
header div {
  display: flex;
}
img {
  height: 50px;
}
.menu {
  padding: 0px;
}
.menu li {
  display: inline-block;
  list-style-type: none;
  padding: 0px 25px;
  text-align: center;
}
.menu li:hover {
  cursor: default;
  color: blue;
  position: relative;
  left: 5px;
  bottom: 5px;
}
.avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #833ae0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
main {
  display: flex;
  margin: auto;
  max-width: 780px;
}
article {
  width: 80%;
}
.author {
  margin: 0px;
  padding: 5px;
  background-color: Lavender;
  font-weight: 400;
  font-size: 12px;
  width: 200px;
}
aside {
  width: 20%;
  background-color: Lavender;
  padding: 20px;
}
aside p {
  margin: 0px;
}
aside ul {
  padding: 0px;
}
aside li {
  list-style-type: none;
}
