/* 1. Презентация. Флексбокс. */


/* 2. Упражнение 1. Верстка контейнера. */
.goods-item {
  font-family: sans-serif;
  background-color: #ba99e4;
  padding: 50px;
  border-radius: 3px;
}


/* 3. Вёрстка статьи. */
