/* 1. Презентация. Продвинутые селекторы. */
.title {
    font-size: 26px;
    color: blue;
  }
  .main-info {
    color: darkgrey;
  }
  .additional-info {
    font-style: italic;
  }
  .date {
    font-size: 11px;
  }


/* 2. Упражнение 1. Использование классов. !!!Решение CSS */


/* 3. Упражнение 2. Использование псевдоклассов. !!!Решение CSS */


/* 4. Задача 1. Вёрстка по макету . !!!Решение CSS */


/* 5. Задача 2. Список основных цветов. !!!Решение CSS */